<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="CourseIT_ProjPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>webProj.CourseIT.Beans.AutoGen.Internships</class>
    <class>webProj.CourseIT.Beans.AutoGen.Courses</class>
    <class>webProj.CourseIT.Beans.AutoGen.Useraccinfo</class>
    <class>webProj.CourseIT.Beans.AutoGen.Useracademicinfo</class>
    <class>webProj.CourseIT.Beans.Courses</class>
    <class>webProj.CourseIT.Beans.Review</class>
    <class>webProj.CourseIT.Beans.Useracademicinfo</class>
    <class>webProj.CourseIT.Beans.Coursehistory</class>
    <class>webProj.CourseIT.Beans.Internships</class>
    <class>webProj.CourseIT.Beans.Useraccinfo</class>
    <class>webProj.CourseIT.Beans.Courseenroll</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/dbcourseit?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="asdasd"/>
    </properties>
  </persistence-unit>
</persistence>
